---
title: History and Lore
layout: default
pagination:
  data: collections.lore
  size: 10
  alias: lore
eleventyExcludeFromCollections: true
---

<div class="mx-10">
  <h1 class="font-heading text-red text-4xl uppercase mb-5 text-center">
    {{ title }}
  </h1>
    <div class="flex flex-col gap-2">
    {% for item in lore %}
    <a href="{{ item.url }}">
      <div class="flex gap-2">
        <img src="{{item.data.image}}" width="200" class="max-h-[100px] object-cover rounded" />
        <div class="flex flex-col">
          <div class="font-heading uppercase text-3xl">
            {{ item.data.title }}
          </div>
          <div class="text-gray-800">{{ item.data.date | date("DD-MM-YYYY") }}</div>
        </div>
      </div>
    </a>
    {% endfor %}
    <div class="text-center">
      {% if pagination.previous %}
        <a href="{{ pagination.previous }}">Previous</a>
      {% endif %}
      
      {% if pagination.previous and pagination.next %} | {% endif %}

      {% if pagination.next %}
        <a href="{{ pagination.next }}">Next</a>
      {% endif %}
    </div>
  </div>
</div>
